/* About us */

.aboutus-main-container{
    width: 100%;
    height: auto;
}

.aboutus-img-container{
    
    width: 100%;
    height: 40vh;
    /* position: relative; */
}

.aboutus-img{
    opacity: .5;
    width: 100%;
    height: 40vh;
    /* position: relative; */
}

.aboutus-heading-container{
    
    width: 100%;
}

.aboutus-heading{
    
    width: 100%;
    font-size: 3rem;
    font-weight: 600;  
    margin: 3rem 0;
    text-align: center; 
    justify-content: center;
    align-items: center;
    text-shadow: .1rem .1rem .2rem black;
    text-decoration: underline;
}

.aboutus-image-content-container{
    
    width: 100%;
    display: flex;
    flex-direction: row;
}

.aboutus-image-container{
    width: 50%;
    padding: 2rem 3rem;
}

.aboutus-img2{
    width: 100%;
    height: 100%;
    box-shadow: .2rem .2rem 1rem black
}

.quote-icon{
    font-size: 3rem;
    color: black;
}

.aboutus-content-container{
    width: 50%;
    text-align: justify;
    padding: 2rem 3rem;
}

.aboutus-content{
    font-size: 2rem;
    letter-spacing: .1rem;
}
/*End of About us */

/* About Our Team */

.aboutus-card-container{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
}

.aboutus-card{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem;
    width: 20%;
    border-radius: 1.5rem;
    cursor: pointer;
}

.card-content{
    margin: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 1rem rgb(141, 247, 250);
}

.card-content:hover{
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}

.card-name{
    font-size: 2rem;
    display: flex;
    flex-direction: column;

    .card-designation{
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.aboutus-card-para{
    font-size: 1.5rem;
    padding: 2rem 3rem;
}

.aboutus-card-img{
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    box-shadow:0 0 .5rem black;
}

/*End of About Our Team */

/* Responsive Design */

@media (min-width:3800px){
    
    .aboutus-heading{
        font-size: 3rem;
    }
    
    .aboutus-content{
        font-size: 2rem;
        letter-spacing: .1rem;
    }

    .aboutus-card-img{
        width: 15rem;
        height: 15rem;
    }

    .card-name{
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
    
        .card-designation{
            font-size: 2rem;
            font-weight: 500;
        }
    }

    .aboutus-card-para{
        font-size: 1.5rem;
        padding: 2rem 3rem;
    }
}

/*End of Responsive Design */