
/* Customization Section */

.customization-section{
    width: 100%;
    height: 100vh;
    
}

.main-customization-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.customization-heading-container{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
    background-color: #f6f6f6;
}

.customization-name-price-container{
    
    justify-content: flex-start;    
}

.customization-name-container{
    
}

.customization-name{
    
    font-size: 2.5rem;
}

.customization-price-container{
    
    padding: .4rem;
    font-size: 1.5rem;
}

.customization-price{
    
}

.customization-done-container{
    
    padding: 1.2rem;
}

.customization-done-btn{
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 10rem;
    background-color: rgb(255, 255, 255);
}

.customization-done-btn:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.customization-product-img-container{   
    width: 100%;
    
    height: 40vh;
}

.customization-product-img{
    width: 100%;
    height: 40vh;
}

.customizaion-option-container{
    
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.customization-options-1-container{
    
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.custom-1to5{
    
    display: flex;
    height: 45vh;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    padding: 1rem;
}

.custom-1to5-label{
    border: .1rem solid rgb(135, 135, 135);
    border-radius: 1rem;
    padding: .3rem;
    font-size: 2rem;
    font-weight: 500;
    /* border: none; */
}

.custom-1to5-label:hover{
    border: .1rem solid rgb(0, 0, 0);
}

.custom-1to5-label:hover{
    text-decoration: underline;
    color: rgb(79, 79, 79);
}


.first-1to5{
    
    justify-content: end;
    text-align: right;
    float: right;
    width: 4rem;
    height: 4rem;
    appearance: none;
    background-color: transparent;
}

.first-1to5::-webkit-color-swatch{
    border-radius: 100%;
}

.select-color-heading-container{
    width: 25vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-color-heading{
    font-size: 3rem;
    font-weight: 400;
    text-decoration: underline;
}

.arrow-icon{
    font-size: 2rem;
}

.customization-options-2-container{
    
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.custom-6to10{
    display: flex;
    height: 45vh;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    padding: 1rem;
}

.custom-6to10-label{
    border: 1px solid rgb(135, 135, 135);
    border-radius: .8rem;
    padding: .3rem;
    font-size: 2rem;
    font-weight: 500;
}

.custom-6to10-label:hover{
    text-decoration: underline;
    color: rgb(79, 79, 79);
    border: .1rem solid rgb(0, 0, 0);
}


.next-6to10{
    
    justify-content: end;
    text-align: right;
    float: right;
    width: 4rem;
    height: 4rem;
    appearance: none;
    background: none;
}

.next-6to10::-webkit-color-swatch{
    border-radius: 100%;
}


/*End of Customization Section */

/* Responsive Design */

@media (max-width:780px){
    .customizaion-option-container{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width:600px){
    .customizaion-option-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .select-color-heading-container{
        display: none;
    }

    .custom-1to5-label{
        border: .1rem solid rgb(135, 135, 135);
        border-radius: 1rem;
        padding: .3rem;
        font-weight: 500;
        /* border: none; */
    }

    .custom-6to10{
        height: 35vh;
    }

    .custom-1to5{
        height: 35vh;
        
        label{
            font-size: 2.2rem;
        }
    }

}

/*End of Responsive Design */