.login-form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 5rem;
    max-width: 50%;
    width: 90%;
    text-align: center;
    margin: 3rem auto;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  
  .login-form h1 {
    margin-bottom: 10px;
    font-size: 3rem;
    color: #333;
  }
  
  .login-form p {
    margin-bottom: 20px;
    color: #777;
  }
  
  .input-group {
    margin-top: 1rem;
    margin-bottom: 1rem;

    label{
        font-size: 2rem;
        margin-top: 5rem;
    }
  }
  
  .input-group input{
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 1.7rem;
    transition: border-color 0.3s ease;
  }

  .input-group{
    .contact-btn{
        width: 7rem;
    }
  }

  .input-group input:focus {
    border-color: #000000;
    outline: none;
  }

  .input-group textarea{
    box-sizing: border-box;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 1.5rem;
    transition: border-color 0.3s ease;
  }

  .input-group textarea:focus {
    border-color: #000000;
    outline: none;
  }
  
  .contact-btn {
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-btn:hover {
    background-color: #5c5c5c;
  }
