/* Pagepath */

.pagepath-container {
    margin: 1rem 5rem;
    font-size: 1.5rem;
}

.pagepath {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.pagepath:hover {
    color: rgb(105, 105, 105);
    text-decoration: underline;
}

/*End of Pagepath */

/* Product Description */

.product-container {
    width: 100%;

    height: auto;
    display: flex;
    flex-direction: row;
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1.5s .5s forwards;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

.product-img-container {

    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-img-div {
    margin: 1rem;
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    background-color: #f6f6f6;
}

.product-img {

    width: 30rem;
    height: 35rem;
    overflow: hidden;
    transition: scale 1s ease;
}

.product-img:hover {
    scale: 2;
}

.product-description-container {
    width: 40vw;
    margin: 2rem;

}


.product-name {
    font-size: 2.5rem;
}

.product-description {
    margin-top: .5rem;

}

.product-des {
    font-size: 1.5rem;
    font-weight: 600;
}

.product-price-container {

    margin-top: 2rem;
}

.product-price {
    font-size: 2rem;
    font-weight: 500;
}

.price-taxes {
    /* margin-top: -1.5rem; */
    font-size: 1.3rem;
}

.gender-container {
    margin-top: 2rem;

}

.radio-container {
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    gap: 1rem;
}

.size-container {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;

}

.customize-btn-container {

    margin: 3rem 0;
    text-align: center;
    justify-content: center;
}


.customize-btn {
    font-size: 2rem;
    width: 20rem;
    border-width: .1rem;
    font-weight: 500;
    padding: 1.2rem;
    border-radius: 10rem;
    background-color: skyblue;
}

.customize-btn:hover {
    background-color: rgb(173, 231, 253);
}

.signin-to-buy-btn-container {

    margin: 3rem 0;
    text-align: center;
    justify-content: center;
}

.signin-to-buy-btn {
    font-size: 2rem;
    width: 20rem;
    border-width: .1rem;
    font-weight: 500;
    padding: 1.2rem;
    border-radius: 10rem;
    background-color: white;
}

.signin-to-buy-btn:hover {
    color: white;
    background-color: rgb(0, 0, 0);
}




/*End of Product Description */

/* Responsive design */

@media (min-width:3800px){

    .product-name{
        font-size: 3rem;
    }

    .product-des{
        font-size: 2rem;
    }

    .price-taxes{
        font-size: 1.8rem;
    }

    .radio-container{
        font-size: 2rem;
        label{
            input{
                appearance: none;
                width: 2rem;
                height: 2rem;
                border: 2px solid black;
                border-radius: 50%;
                outline: none;
                cursor: pointer;
            }
            input[type="radio"]:checked{
                background-color: black;
            }
        }
    }

    option{
        font-size: 20%;
    }

    .size-container{
        font-size: 2rem;
    }

    .section-4-label-link{
        font-size: 2rem;
    }
}

/*End of Responsive design */