@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Login and signup form*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', cursive;
  }
  
  body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1.5s .6s forwards;
  }

  @keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form h1 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .login-form p {
    margin-bottom: 20px;
    color: #777;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group input {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .input-group input:focus {
    border-color: #000000;
    outline: none;
  }

  .google-icon-btn{
    
    /* background: none    ; */
  }
  
  button {
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #000000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #5c5c5c;
  }
  
  .bottom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #777;
  }
  
  .bottom-text p {
    margin-bottom: 10px;
  }
  
  .bottom-text a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .bottom-text a:hover {
    color: #0056b3;
  }

  .text-with-lines {
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    justify-content: center;
    text-align: center;
  }
  
  .text-with-lines::before,
  .text-with-lines::after {
    content: "";
    position: absolute;
    top: 50%;
    width: calc(50% - 20px);
    border-top: 1px solid black; 
  }
  
  .text-with-lines::before {
    right: 55%;
    margin-right: 10px;
  }
  
  .text-with-lines::after {
    left: 55%;
    margin-left: 10px;
  }

  .lines-text{
    font-weight: 400;
    font-size: 1.3rem;
  }

  .login-via-google{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .fa-google{
    color: white;
  }

  .fa-google:hover{
    color: rgb(255, 8, 0);
  }


  /* End of login and sign up form */


  
  /* Responsive Design */

  @media (min-width:3800px){
    html{
      font-size: 150%;
    }

    h1{
      font-size: 5rem;
    }

    p{
      font-size: 2.5rem;
    }

    .login-form-container{
      width: 100%;
      max-width: 40%;
      height: 50%;
    }

    .login-form-container {
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 3rem;
      max-width: 40%;
      height: 70%;
      width: 90%;
      text-align: center;
      margin: 0 auto;
    }
    
    .login-form {
      display: flex;
      flex-direction: column;
    }
    
    .login-form h1 {
      margin-bottom: 2rem;
      color: #333;
    }
    
    .login-form p {
      margin-bottom: 2rem;
      color: #777;
    }
    
    .input-group {
      margin-bottom: 3rem;
    }
    
    .input-group input {
      padding: 1.5rem;
      border-radius: 8px;
      border: 1px solid #ddd;
      width: 100%;
      font-size: 2.5rem;
      transition: border-color 0.3s ease;
    }
    
    .input-group input:focus {
      border-color: #000000;
      outline: none;
    }
    
    button {
      padding: 1.5rem;
      border: none;
      border-radius: 1rem;
      background-color: #000000;
      color: #fff;
      font-size: 3rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .bottom-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.5rem;
      color: #777;
    }
    
    .bottom-text p {
      margin-bottom: 1rem;
    }
    
    .bottom-text a {
      color: #007bff;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    
    .bottom-text a:hover {
      color: #0056b3;
    }
  
    .text-with-lines {
      margin-top: 2rem;
      margin-bottom: 2rem;
      position: relative;
      justify-content: center;
      text-align: center;
    }
    
    .text-with-lines::before,
    .text-with-lines::after {
      content: "";
      position: absolute;
      top: 50%;
      width: calc(45% - 20px);
      border-top: 1px solid black; 
    }
  
    .lines-text{
      font-weight: 400;
      font-size: 2.5rem;
    }
  
    .login-via-google{
      display: flex;
      flex-direction: row;
      font-size: 4rem;
      gap: 8rem;
      justify-content: center;
      align-items: center;
    }
    
    .fa-google{
      color: black;
    }
    .fa-facebook{
      color: black;
    }
  }
  
  @media screen and (max-width: 600px) {
    .login-form-container {
      width: 100%;
      border-radius: 0;
    }
  }
  
  /*End of Responsive Design */